.card {
  --width: 13vw;
  --height: 17vw;
  width: var(--width);
  border: 3px solid #85784a;
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
  box-shadow: inset 0 0 15px 10px black;
}

.card-img {
  width: var(--width);
  height: var(--height);
  z-index: -1;
}

.card-text {
  font-family: GFSNeohellenic, sans-serif;
  font-size: 2vw;
  padding-bottom: 5px;
  color: white;
  background-color: black;
  text-align: center;
}
