.card {
  width: clamp(15vw, 16vw, 17vw);
  height: auto;
  border: 3px solid #85784a;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: inset 0 0 15px 10px black;
  transition: all 0.1s ease;
  margin-bottom: 20px;
  justify-self: center;
}

.card:hover {
  scale: 110%;
}

.card-img {
  height: 85%;
  width: 100%;
}

.card-text {
  font-family: GFSNeohellenic, sans-serif;
  font-size: 250%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  text-align: center;
  height: 15%;
}
